<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="stylesheet" href="Products.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <nav class="nav">
            <div class="buttons">
                <a href="Products.html"><button class="main-buttons" id="products-btn">Products</button></a>
                <a href="../Expenses/Expenses.html"><button class="main-buttons" id="expenses-btn">Expenses</button></a>
            </div>
            <div class="right-side">              
                    <p><img id="profile-image" src="../../assets/images/small_profile.png" alt="profile-image">Gal Gadot</p>
            </div>
        </nav>
    </header>

    <div class="main-div">
            <h3>Products</h3>
            <label for="sort">Filter by: 
            <select name="sort" id="sort">
                <option>Year</option>
                <option>Highest Price</option>
                <option>Lowest Price</option>
                <option>Latest Purchases</option>
            </select>
        </label>
    </div>

    <main class="main-box">
        <table class="table">
            <thead>
                <th>Product Name</th>
                <th>Product Type</th>
                <th>Product Description</th>
                <th>Purchase Date</th>
                <th>Product Price</th>
                <th>Product Options</th>
            </thead>
            
            <tbody>
                <tr id="first-tr" class="body-tr">
                    <td>Coca-Cola</td>
                    <td>Drink</td>
                    <td>carbonated soft drink</td>
                    <td>21.08.2019</td>
                    <td>75</td>
                    <td>
                        <a href=""><i class="far fa-edit"></i></a>
                        <a href=""><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr class="body-tr">
                    <td>Coca-Cola</td>
                    <td>Drink</td>
                    <td>carbonated soft drink</td>
                    <td>21.08.2019</td>
                    <td>75</td>
                    <td>
                        <a href=""><i class="far fa-edit"></i></a>
                        <a href=""><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr class="body-tr">
                    <td>Coca-Cola</td>
                    <td>Drink</td>
                    <td>carbonated soft drink</td>
                    <td>21.08.2019</td>
                    <td>75</td>
                    <td>
                        <a href=""><i class="far fa-edit"></i></a>
                        <a href=""><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr class="body-tr">
                    <td>Coca-Cola</td>
                    <td>Drink</td>
                    <td>carbonated soft drink</td>
                    <td>21.08.2019</td>
                    <td>75</td>
                    <td>
                        <a href=""><i class="far fa-edit"></i></a>
                        <a href=""><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr class="body-tr">
                    <td>Coca-Cola</td>
                    <td>Drink</td>
                    <td>carbonated soft drink</td>
                    <td>21.08.2019</td>
                    <td>75</td>
                    <td>
                        <a href=""><i class="far fa-edit"></i></a>
                        <a href=""><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr class="body-tr">
                    <td>Coca-Cola</td>
                    <td>Drink</td>
                    <td>carbonated soft drink</td>
                    <td>21.08.2019</td>
                    <td>75</td>
                    <td>
                        <a href=""><i class="far fa-edit"></i></a>
                        <a href=""><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr class="body-tr">
                    <td>Coca-Cola</td>
                    <td>Drink</td>
                    <td>carbonated soft drink</td>
                    <td>21.08.2019</td>
                    <td>75</td>
                    <td>
                        <a href=""><i class="far fa-edit"></i></a>
                        <a href=""><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr class="body-tr">
                    <td>Coca-Cola</td>
                    <td>Drink</td>
                    <td>carbonated soft drink</td>
                    <td>21.08.2019</td>
                    <td>75</td>
                    <td>
                        <a href=""><i class="far fa-edit"></i></a>
                        <a href=""><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr class="body-tr">
                    <td>Coca-Cola</td>
                    <td>Drink</td>
                    <td>carbonated soft drink</td>
                    <td>21.08.2019</td>
                    <td>75</td>
                    <td>
                        <a href=""><i class="far fa-edit"></i></a>
                        <a href=""><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr class="body-tr">
                    <td>Coca-Cola</td>
                    <td>Drink</td>
                    <td>carbonated soft drink</td>
                    <td>21.08.2019</td>
                    <td>75</td>
                    <td>
                        <a href=""><i class="far fa-edit"></i></a>
                        <a href=""><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr class="body-tr">
                    <td>Coca-Cola</td>
                    <td>Drink</td>
                    <td>carbonated soft drink</td>
                    <td>21.08.2019</td>
                    <td>75</td>
                    <td>
                        <a href=""><i class="far fa-edit"></i></a>
                        <a href=""><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr class="body-tr">
                    <td>Coca-Cola</td>
                    <td>Drink</td>
                    <td>carbonated soft drink</td>
                    <td>21.08.2019</td>
                    <td>75</td>
                    <td>
                        <a href=""><i class="far fa-edit"></i></a>
                        <a href=""><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr class="body-tr">
                    <td>Coca-Cola</td>
                    <td>Drink</td>
                    <td>carbonated soft drink</td>
                    <td>21.08.2019</td>
                    <td>75</td>
                    <td>
                        <a href=""><i class="far fa-edit"></i></a>
                        <a href=""><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
               
                
            </tbody>
        </table>
    </main>

    <a href="NewProduct.html"><button class="new-btn">New Product</button></a>
    

    <script src="https://kit.fontawesome.com/c449c1f62a.js"></script>
</body>
</html>