.box-container{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    margin: 0 auto;
    padding: 15px 15px;
    width: 300px;
    border-radius: 5px;
    margin-top: 20px;
   
}
.text-field-input{
    font-size: 18px;
    color: #8D8D8D;
    margin: 15px;
    border-radius: 5px;
    display: block;
    float: left;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.text-field{
    background: #fff;
    border: 2px solid;
    border-color: #C6C6C6;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    padding-left: 0px;
    font-size: 18px;
    color:  #8D8D8D ;
    margin-top: 0px;
}
.primary-button{
    border-radius: 5px;
    width: 100%;
    border: 0px;
}
.primary-button.long{
    font-size: 15px;
    color: #fff;
    background-color: #1dd1a1;
    height: 50px;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.17);
    margin-top: 20px;
    font-weight: bold;
}
.additional-info{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: #8D8D8D;
}

form{
    width: 100%;
    margin: 30px 30px;
    margin-top: 0px;
}