html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color:#E5EDF5;
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    min-height: 45px;
    color: black;
}
.nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}
button {
    cursor: pointer;
}

.buttons {
    font-size: 15px;
    width: 100%;
    align-content: center;
    align-items: center;
    margin-left: 50px;
    flex-wrap: nowrap;
}
.main-buttons {
    background-color: white;
    height: 35px;
    min-width: 18%;
    text-transform: uppercase;
    padding: 0px 10px;
    border-radius: 5px;
    font-weight: 700;
}
#expenses-btn {
    background: transparent;
    border: 1.5px solid #576574;
    color: #576574;
}
#products-btn {
    background:transparent;
    border: 1.5px solid #1DD1A1;
    color: #1DD1A1;
    margin-right: 10px;
}
span,p {
    color: black;
}

.right-side {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

#profile-image {
    width: 25px;
    height: 25px;
}

#main-box {
    display: flex;
    width: 1020px;
    max-height: 690px;
    margin: auto;
    margin-left: 200px;
    margin-bottom: 10px;
}
.box-container{
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
    width: 50%;
    margin:auto;
    background-color: #fff;
    padding: 0;
    height: 600px;
    width: 70%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.new-product-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items:center;
    background-color: #e9e7e7;
    text-align: center;
    color:#9a9a9a;
    width: 50%;
    height: 600px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
#new-products-h3{
    margin-left: 200px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.new-product-div span i{
    font-size: 50px;
    color: #9a9a9a;
}
.new-product-div h3 {
    font-family: 'Roboto', sans-serif;
}

#primary-button {
    margin-top:40px;
}
.form-box {
    margin-left: 50px;
    width: 50%;
}









@media screen and (max-width: 800px) {
    button {
       display: inline-block;
    }
}


@media screen and (max-width: 700px) {
    .buttons {
       display: inline-block;
       flex-wrap: wrap;
       flex-direction: column;
       flex: 1;
    }
    .right-side{
        width: 25%;
    }
    .main-div label{
        position: absolute;
        top: 80px;
        left: 50px;
    }
}